/* Card.css */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    /* Adjust styles for desktop */
    .card {
      max-width: 100px;
      max-height: 150px
    }

    .card h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 10px;
    }
  }
  