.card-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px;
    justify-content: space-around; */
    /* max-width: 100%; */
    padding: 24px;
  }

  .table-container {
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  /* .changes-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 60vh;
    min-height: 25vh;
    padding: 12px;
    margin: 24px 56px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    overflow: auto;
  }

  .changes-container::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar track */
  /* } */
  
.changes-container::-webkit-scrollbar-thumb {
  background: transparent; 
} */

.display-container {
  background-color: transparent;
  border-radius: 8px;
  padding: 16px 32px;
  text-align: left;
  min-width: 25%;
  max-width: 100%;
  border: 1px solid #21262D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.display-title {
  font-size: 12px;
  border-left: 1px solid #0057a4;
  padding-left: 8px;
  margin-bottom: 4px;
  color: #575f68
}

.display-number {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.add-more-btn {
  background-color: transparent;
  color: #0057a4;
  border: 1px solid #0057a4;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  margin-top: 16px;
}

.display-container-2 {
  background-color: #141a24;
  border-radius: 8px;
  /* padding: 16px 32px; */
  text-align: left;
  max-width: 35%;
  border: 1px solid #141a24;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-header {
  margin: 0;
  text-align: left;
  padding: 16px 32px;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #21262D;
  border-radius: 4px;
}

.box {
  width: calc(33.33% - 20px); /* Adjust as needed */
  margin: 10px;
  box-sizing: border-box;
  display: block;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 120px; */
  padding-bottom: 32px;
  gap: 32px;
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
  .container {
    justify-content: center; 
  }

  .box {
    width: calc(50% - 20px); 
  }
} */

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .box {
    width: 100%; /* Stack items on top of each other */
  }
}

.level-container {
  background-color: #1a212e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  border-radius: 12px;
  border: 1px solid #1a212e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  min-height: 80px;
}

.joined-container {
  background-color: #1a212e;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid #1a212e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  width: 100%;
}

.joined-container span {
  font-size: 13px;
  color: rgb(173, 171, 171);
  padding-left: 8px;
}

.joined-container h2 {
  font-weight: 400;
  margin: 0;
  font-size: 48px;
  color: teal
}

.home-container-2 {
  width: 900px;
  max-width: 100%;
  flex: 1 0 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recent-container {
  width: 100%;
  min-width: 300px;
  max-height: 725px;
  background-color: #131B2B;
  border-radius: 10px;
  border: 1px solid #1E293B;
  position: relative;
}

.scrollbar li {
  padding: 10px;
  color: #A0AEC0;
  text-align: left;
}

.scrollbar {
  height: 700px;
}

.home-layout {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

.home-layout-mobile {
  position: relative;
}

.player-list-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-list-container li {
  border: 1px solid #1E293B;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  background-color: #131B2B;
}

.sort-btn {
  display: flex;
  gap: 12px;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid white;
  color: white;
  transition: border 0.3s ease;
}

.sort-btn:hover {
  border: 1px solid #eb498f;
}

.load-btn {
  display: flex;
  gap: 6px;
  justify-content: center;
  background-color: #ED1E79;
  align-items: center;
  padding: 6px 6px;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

.load-btn:hover {
  background-color: #eb3f89;
}

.sort-dropdown {
  /* background-color: #1E293B; */
  position: absolute;
  left: -40px;
  top: 25px;
  z-index: 1000;
  border-radius: 10px;
  list-style: none;
}

.sort-dropdown li {
  text-align: left;
  box-sizing: border-box;
  background-color: #1E293B;
  padding: 6px 12px;
  display: flex;
  min-width: 150px;
}

.sort-dropdown li:hover {
  background-color: #2e3c54;
  cursor: pointer;
}

.sort-dropdown li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sort-dropdown li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}