
.google-signin {
    width: 100%;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 0;
    background-color: #1c688b;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: .8px;
}

.google-logout {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 15px;
}

.google-logout:hover {
    color: rgb(137, 137, 131);
}