#root {
  margin: 0;
  text-align: center;
}

.body-format {
  position: relative;
  /* min-height: 60vh; */
  padding: 0 200px;
  background-color: #121827;
}

@media only screen and (max-width: 1100px) {
  .body-format {
    position: relative;
    /* min-height: 100vh; */
    padding: 0 100px;
    background-color: #121827;
  }
}

@media only screen and (max-width: 850px) {
  .body-format {
    position: relative;
    /* min-height: 100vh; */
    padding: 0 50px;
    background-color: #121827;
  }
}

@media only screen and (max-width: 500px) {
  .body-format {
    position: relative;
    /* min-height: 100vh; */
    padding: 0 20px;
    background-color: #121827;
  }
}

.footer-container {
  background: linear-gradient(
    to bottom,
    #121827 10%,
    #ed1e7859 45%,
    #ED1E79 100%
  );
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}