.chart-container {
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    border: 1px solid #21262D;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

.template-container {
    display: flex;
    padding: 56px
}

@media (max-width: 700px) {
    .template-container {
        display: flex;
        padding: 56px 16px;
    }
}