.filter-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #01040a;
    border: 1px solid #0057a4;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    min-width: 110px;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
  }

.filter-popup label {
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.filter-popup::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar track */
}

.filter-popup::-webkit-scrollbar-thumb {
  background-color: #0057a4;
  border-radius: 6px;
}

.filter-popup::-webkit-scrollbar-track {
  background-color: transparent;
}

/* ButtonStyles.css */

.button-container {
  display: flex;
  background-color: transparent;
  align-items: baseline;
  padding: 8px;
}

.button-container:hover {
  background-color: #343c46;
}

.button-text {
  font-size: 14px;
  padding-right: 4px;
  color: white;
  text-transform: capitalize;
}

/* .play-icon {
  background-color: transparent;
  color: white;
  transform: rotate(90deg);
  height: 13px;
  width: 13px;
} */
