.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 32px;
    padding: 10px;
    border-radius: 12px;
  }

.user-card:hover {
  background-color: #97979718;
  border-radius: 12px;
  transition: all 0.5s;
}