.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px 0;
  }

  .table-container {
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .chart-container {
    width: 100%;
    max-width: 800px;
    height: 200px;
    padding: 12px;
    margin: 24px 56px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .changes-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 60vh;
    min-height: 25vh;
    padding: 12px;
    margin: 24px 56px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: rgb(251, 221, 156);
    overflow: auto;
  }

  .changes-container::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar track */
  }
  
.changes-container::-webkit-scrollbar-thumb {
  background: transparent; 
}

.display-container {
  background-color: #01040a;
  border-radius: 8px;
  padding: 16px 32px;
  text-align: left;
  min-width: 300px;
  border: 1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.display-title {
  font-size: 12px;
  border-left: 1px solid #0057a4;
  padding-left: 8px;
  margin-bottom: 4px;
  color: #575f68
}

.display-number {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.add-more-btn {
  background-color: transparent;
  color: #0057a4;
  border: 1px solid #0057a4;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  margin-top: 16px;
}