.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .table-container {
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .chart-container {
    width: 100%;
    max-width: 800px;
    height: 200px;
    padding: 12px;
    margin: 24px 56px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .changes-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 60vh;
    min-height: 25vh;
    padding: 12px;
    margin: 24px 56px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: rgb(251, 221, 156);
    overflow: auto;
  }

  .changes-container::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar track */
  }
  
  .changes-container::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar thumb (the part you drag) */
  }
