.two-column-container {
    display: flex;
    width:80vw;
    /* height: 100vh; */
  }

.two-row-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
}
  
  .left-column {
    flex: 2; /* Larger left column */
    /* padding: 20px; */
  }
  
  .right-column {
    flex: 1; /* Smaller right column */
    padding: 20px;
    /* max-height: 400px; */
    transition: all .39s ease-in;
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.3); */
  }

.desktop-sections {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mobile-sections {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.section-card {
    /* min-width: 500px; */
    background-color: #24a876;
    border-radius: 12px;
    text-align: left;
    color: white;
    padding: 40px 0 40px 24px;
    margin: 0;
    min-width: 500px;
    margin-bottom: 24px;
}

.mobile-section-card {
    /* background-color: #24a876; */
    border-radius: 0;
    color: white;
    padding: 40px 0 40px 0;
    margin: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.start-btn {
    background-color: white;
    color: #24a876;
    padding: 16px 32px;
    /* margin-right: 24px; */
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.06px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.start-btn a {
    text-decoration: none;
    color: inherit
}

.start-btn:hover {
    background-color: rgb(203, 194, 194);
}

.start-btn:active {
    background-color: #24a876;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.mobile-content-container {
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 24px;
    margin: 24px 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}