/* Table.css

  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table, th, td {
    border: none;
  }
  
  td {
    padding: 12px 56px;
    text-align: left;
  }

  th {
    background-color: #21262d;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    padding: 8px 56px;
  }
  
  /* tr:nth-child(even) {
    background-color: #01040a;
  } */
  
  /* @media (max-width: 946px) {
    .table-container {
      margin: 0;
    }
  
    /* Adjust styles for mobile view */
    