.stats-container {
    display: flex;
  }

.stats-user-event-list, li {
  list-style: none;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.stats-user-event-list li, .add-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  gap: 32px;
  /* transition: all .3s; */
}

.stats-user-event-list li {
  padding: 8px 32px;
}

.stats-user-event-list li:hover {
  /* background-color: grey; */
  cursor: pointer;
}