/* Sidemenu.css */

.sidemenu {
    position: fixed;
    top: 0;
    left: -375px; /* Initially hidden off-screen */
    width: 375px;
    height: 100%;
    background-color: #0d111d;
    transition: left 0.3s ease;
    z-index: 1000;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .sidemenu.open {
    left: 0; 
  }

  .sidemenu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
  }

  

  .header {
    color: white;
    font-weight: 600;
    letter-spacing: .75px;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .sidemenu a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 32px;
    max-width: 90%;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .menu-icon {
    width: 28px;
    height: 28px;
  }

  .sidemenu a > span {
    font-size: 17px;
  }

  .sidemenu a:hover {
    background-color: #212734;
  }

  .menu-group-2 {
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border-radius: 6px;
    padding: 8px 24px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .menu-group-2 span {
    font-size: 16px;
  }

  .menu-group-2 div {
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  .menu-group .active {
    color: #0057a4;
    background-color: #212734;
  }

  /* .menu-group .active:hover {
    color: #0057a4;
    background-color: #212734;
  } */
  
.player-list {
    text-align: left;
    max-height: 100px;
    width: 100%;
}

.players-container {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  min-height: 350px;
}

.players-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.players-container::-webkit-scrollbar-thumb {
  background-color: #0057a4;
  border-radius: 8px;
}

.players-container::-webkit-scrollbar-track {
  background-color: #212734;
  border-radius: 8px;
}

.divider {
  border: 1px solid #212734;
  margin: 24px
}

.section-title {
  position: absolute;
  top: -12px;
  left: 8px;
  font-size: 14px;
  background-color: #0d111d;
  padding: 0 8px;
}

.section-title span {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.05px;
}

/* .footer {
  position: absolute;
  bottom: 32px;
  width: 80%;
  text-align: left;
} */

/* .signout-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #0057a4;
  color: white;
  margin-top: 16px;
} */