.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.icon-container button {
    background-color: transparent;
    transition: all .5s ;
}


.tile {
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.tile::before {
    content: '';
    width: 120px;
    height: 5px;
    background-color: rgb(181, 177, 177);
    position: absolute;
    top: 225px;
    left: 38%;
    border-radius: 50%;
    animation: shade 3s linear infinite;
}

@keyframes shade {
    0%, 100% {
        transform: scale(.85, 1);
        background-color: rgb(255, 255, 255);
    }
    50% {
        transform: scale(.65, 1.2);
        background-color: rgba(255, 255, 255, 0.381);
    }
}

.tile-icon-flipped {
    width: 120px;
    height: 120px;
    animation: bounce-flipped 3s linear infinite;
}

@keyframes bounce-flipped {
    0%, 100% {
        transform: translateY(0) scaleX(-1) rotate(0);
        opacity: .6;
    }
    50% {
        transform: translateY(20px) scaleX(-1.2) rotate(10deg);
        opacity: 1;
    }
}

.tile-icon-nonFlipped {
    width: 120px;
    height: 120px;
    animation: bounce-nonFlipped 3s linear infinite;
}

@keyframes bounce-nonFlipped {
    0%, 100% {
        transform: translateY(0) scaleX(1) rotate(0);
        opacity: .6;
    }
    50% {
        transform: translateY(20px) scaleX(1.2) rotate(10deg);
        opacity: 1;
    }
}

.tile-icon-center {
    width: 80px;
    height: 80px;
    transform: translateY(10px);
    /* animation: bounce 1.7s linear infinite; */
}

.fly {
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(75px);
    }
    50% {
        transform: translateY(0);
    }
}



.tile-locked {
    width: 60px;
    height: 60px;
    position: relative;
}

/* .tile-locked::before {
    content: '';
    width: 60px;
    height: 5px;
    background-color: #404c9082;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
} */

.tile-icon-locked {
    width: 40px;
    height: 40px;
    color: grey;
}

.tile-completed {
    width: 40px;
    height: 40px;
    position: relative;
}

/* .tile-completed::before {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #23999982;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
} */

.tile-icon-completed {
    width: 40px;
    height: 40px;
    color: #23993782;
}
