/* styles.lp-container .css */

/* The outer container */
.lp-container {
  position: relative;
  max-width: 100%;
}

/* The background image */
.lp-container .background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Semi-transparent overlay */
.lp-container .overlay {
  background-color: #0d1117a6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
}

/* Content container */
.lp-container .content-container {
  z-index: 11;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content-container-mobile {
    text-align: center;
    color: #fff;
    z-index: 11;
  }

/* Inner content with a blue border */
.login-inner-content {
  background-color: #0d1117;
  padding: 24px;
  border-radius: 16px;
}

/* Disclaimer message */
.disclaimer {
  font-size: 11px;
  padding: 8px 0;
  color: red;
}

/* Title */
.login-title {
  color: #0057a4;
}

/* Description */
.login-description {
  font-size: 14px;
  color: grey;
}

/* Sign-in message */
.sign-in-message {
  font-size: 14px;
  color: white;
  padding: 16px 0;
}

/* Sign-in button */
.sign-in-button {
  background-color: transparent;
  border: 1px solid #0057a4;
  border-radius: 3px;
  padding: 8px 56px;
  color: white;
}

