select {
    border: none;
    color: #2994db;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.08px;
    background-color: transparent;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

select:hover {
    background-color: #add8f5;
}

option {
    background-color: #FFFFFF;
}