/* Table.css */

  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table, th, td {
    border: none;
  }
  
  td {
    padding: 12px 56px;
    text-align: left;
  }

  th {
    background-color: #373737;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    padding: 4px 56px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media (max-width: 600px) {
    .table-container {
      margin: 10px;
    }
  }
  