.practice-input {
    /* background-color: #1c273c; */
    border: 1px solid #1E293B;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    margin: 24px;
}

.practice-input-btn {
    min-width: 200px;
    margin: 0 24px;
    background-color: #bcb6b6;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.12px;
    color: black
}

.practice-input-btn:hover{
    background-color: #bcb6b687;
}

.practice-input-btn:active {
    background-color: #182135;
}