/* Modal container */
.modal {
    display: none;
  }

  .modal.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #8E99B0;
    z-index: 999;
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #0F172A;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
  }
  
  /* Close button (X) */
  .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #8E99B0;
    min-width: 200px;
    text-align: right;
  }
  
  .modal-form input, .modal-form select {
    width: 87%;
    padding: 10px;
    border: 1px solid #1E293B;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #1E293B;
    color: #8E99B0;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Remove the default arrows for numeric input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


  .modal-form label {
    display: block;
    text-align: left;
    padding: 0 40px;
    margin: 0;
    letter-spacing: .55px;
    color: #8E99B0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
  }

  .modal-form div {
    padding: 10px 0;
  }

  .update-btn {
    display: flex;
    gap: 8px;
    justify-content: center;
    background-color: #ED1E79;
    align-items: center;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .update-btn:hover {
    background-color: #eb3f89;
  }

  .goBack-btn {
    display: flex;
    gap: 8px;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid white;
    color: white;
    transition: border 0.3s ease;
    font-size: 16px;
  }
  
  .goBack-btn:hover {
    border: 1px solid #eb498f;
  }