.tracker-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 56px;
}

/* Reset default list styles */
.tracker-container ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for unordered list (ul) */
 .tracker-container ul {
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Style for list items (li) */
 .tracker-container li {
    padding: 8px;
    border-radius: 3px;
  }
  
  /* Style for list items with hover effect */
 /* .tracker-container li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  } */
  
  .mini-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mini-table th, .mini-table td {
    /* border: 1px solid #646161; */
    padding: 4px;
    text-align: center;
    width: 100px;
  }

  .mini-table th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .mini-table th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  /* .mini-table th {
    background-color: #f2f2f2;
  } */
  
  /* .mini-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* .mini-table tbody tr:hover {
    background-color: #e5e5e5;
  } */